.text {
    background-image: url('C:\Users\KITS\at_menuapp\admin_app\src\image\Vector Smart Object 1.png');
  
    background-size: 30px 30px; /* Set the height and width of the image */
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
  font-size: xx-large;
  color: #385a29;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Dark gray text */
  }

